# Database
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

# Better Auth
BETTER_AUTH_SECRET="your-32-character-random-string"
BETTER_AUTH_URL="http://localhost:3001"

# Email (Nodemailer)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="MediStore <your-email@gmail.com>"

# Frontend
FRONTEND_URL="http://localhost:3000"

# Server
PORT=3001
NODE_ENV="development"
